.profileMenu{
    background-color: rgb(243, 243, 243);   
}

.link:hover{
    text-decoration: none;
}

.imgContainer{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}