.text {
    font-size: 20px;
}

.jumbotron{
    background-color: #f5f6f8;
    padding: 50px 15%;
    text-align: left;
    margin:0;
    border-bottom: rgb(211, 211, 211) 1px solid;
    border-radius: 0;
}